@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  background: var(--light-gray);
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 20px 15px 10px 15px;
  border-radius: 15px;
  transition: all 0.3s;
  
}

.auth-wrapper .form-control:focus {
  border-color: var(--light-gray);
  box-shadow: none;
  position: 'absolute';
  left: '50%';
  top: '50%';
  transform: 'translate(-50%, -50%)';
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: var(--light-gray);
}


html {
  font-size: 10px;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

.login p {
  left: 50%;
  top: 69%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #5a6169
}

.signup p {
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #5a6169
}
